# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/mydatabase

# Cloudinary Credentials
CLOUDINARY_URL=your_cloudinary_url_here
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Server Port
PORT=4000

JWT_SECRET=your_jwt_secret_here

NODE_ENV="development"

SELLER_EMAIL=your_seller_email_here
SELLER_PASSWORD=your_seller_password_here

RAZORPAY_KEY_ID=rzp_test_your_key_id_here
RAZORPAY_SECRET_KEY=your_razorpay_secret_key_here